.recharts-responsive-container {
  min-height: 400px;
  margin-top: 2em;
}

.recharts-default-tooltip {
  overflow-y: auto;
  .recharts-tooltip-item-list {
    max-height: 300px;
  }
}

.analysis {
  > .analysis-item {
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.answers {
  margin-bottom: 20px;
}

.analysis-tooltip {
  background: white;
  border: 1px solid #ccc;
  padding: 18px;
  border-radius: 4px;
  max-height: 500px;
  overflow: auto;
  pointer-events: all;
  display: block;

  .label {
    text-transform: capitalize;
  }

  .header {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.analysis-item {
  padding: 0.5rem 0.5rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f1f1f1;
}

.rbt-close {
  margin-top: 1px !important;
  margin-right: 2px !important;
  border: none;
  border-radius: 5px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 2px;
  }
}
