.recharts-responsive-container {
  min-height: 400px;
  margin-top: 2em;
}

.analysis {
  > .analysis-item {
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.analysis-item {
  padding: 0.5rem 0.5rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f1f1f1;
}

.answers {
}

.rbt-close {
  margin-top: 1px !important;
  margin-right: 2px !important;
  border: none;
  border-radius: 5px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 2px;
  }
}
