.ReactTags__tagInputField {
}

.MuiDataGrid-columnsContainer {
  background-color: #0000000a !important;
  font-style: italic !important;
}

.MuiDataGrid-cell {
  font-size: 1rem;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderMoving {
  background-color: transparent !important;
}

.user-initials-pill {
  border-radius: 50%;
  background: #f0f0f0;
  border: 1px solid #ddd;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
