@import "./variables.scss";

// Globals
body {
  background: $gray-200;
  height: 92vh; // hacky
}

.app,
.root {
  height: 92vh; // hacky
}

:root {
  --main-purple: #4e2a84;
  --main-purple-light: #915edd;
  --main-purple-light-highlight: #a268f9;
  --main-purple-lightest: #e6d5ff;
  --details-blue: #4879c5;
  --light-green: #a2cd61;
  --success-green: #099e0f;
  --sea-green: #2a844e;
  --sea-green-highlight: #32ae64;
  --baby-blue: #d7ffff;
  --light-grey: rgb(248, 249, 250);
  --warning: #f5a623;
  --warning-highlight: #f5a623;
  --red: #bb182b;
  --red-highlight: #f42039;
}

.cursor-pointer {
  cursor: pointer;
}

/**
  The following styles are overridden here because the application mixes
  Material UI v4 DataGrid with v5 components. The v4 DataGrid clashes with 
  the v5 Switch styling. The temporary solution is to use the v4 Switch and override styling
  here as v4 does not have the sx prop.
*/
.MuiDataGrid-root .MuiDataGrid-cell {
  font-size: 1em;
}
.MuiDataGrid-footerContainer {
  border-top: 1px solid rgba(224, 224, 224, 1);
  background: #f9f9f9;
}
.Mui-checked .MuiSwitch-thumb {
  color: #20b1c4;
}
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #20b1c4 !important;
}
